*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

task1/demo-rest-api
task1/service-a
task1/service-b
task2/anime-rest-api/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch